body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6e6;
    color: #d63384;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.preview{
    height: 80%;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height:90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.menuWrapper{
display: flex;
gap: 50px;
scale: 80%;
padding: 50px;
}

.middle{
    width: 400px;
}

.backgroundPreview{
    overflow-y: scroll;
    max-height: 70vh;
}
img {
    width: 100%;
    border-radius: 10px;;
}

h1 {
    font-size: 2em;
    color: #b02a6f;
}

p {
    margin: 10px 0;
}

input, textarea {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #d63384;
    border-radius: 10px;
    background-color: #fff0f5;
    font-size: 16px;
}

textarea {
    height: 150px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d63384;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #b02a6f;
}

.noselect{
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.middleTitle{
    font-size: 1em;
}